@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;300;400;700&display=swap');

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #232c3d;
  margin: 0;
}

h1 {
  font-size: 48px;
}

.wrapper {
  width: auto;
  margin: 5%;
  border-radius: auto;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, .1);
}

.buttonWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

button {
  letter-spacing: 2px;
  border: none;
  padding: 10px 20px;
  background-color: #93bcff;
  color: #232c3d;
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 5px;
}

button:hover {
  background-color: #d5e3ff;

}

button.active {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}

.active {
  background-color: white;
}

p {
  padding: 10px;
}

.content {
  display: none;
  padding: 20px 0;
}

.content.active {
  display: block;
}

.hud {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.manual-labor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.buildings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  }

.buildings div {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  }

.buildings h3 {
  font-size: 24px;
  margin-bottom: 10px;
  }

.buildings button {
  color: rgb(0, 0, 0);
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
.buildings button:hover {
background-color: #d5e3ff;
}

.buildings .cost {
margin-bottom: 10px;
}

.buildings span {
font-weight: bold;
}

.cost-gain {
  margin-top: 10px;
  font-size: 14px;
}

.cost span {
  color: #6c757d;
  font-weight: normal;
}

.dark-mode-toggle-button {
  font-size: 10pt;
  margin-top: 5px;
  margin-right: 5px;
  position:absolute;
  top:0;
  right:0;
  color: #ffffff;
  background-color: #6c757d;
}

body.dark-mode {
  background-color: #333;
  color: #f7f7f7;
}

span.dark-mode {
  background-color: #333;
  color: #f7f7f7;
}

body.dark-mode h1 {
  color: #fff;
}

body.dark-mode button {
  background-color: #444;
  color: #fff;
}

body.dark-mode button:hover {
  background-color: #666;
  color: #fff;
}

body.dark-mode .buildings div {
  background-color: #333;
  color: #fff;
}

body.dark-mode .buildings h3 {
  background-color: #444;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}

#gameFrame {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 0;
  height: 0;
}

#gameFrame.visible {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#wood-change {
  position: absolute;
  left: 20px; /* adjust the offset as needed */
  color: green;
}

.pre-game-load-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pre-game-load-button {
  background-color: #93bcff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.hidden {
  display: none;
}

.increase {
  color: green;
}

.decrease {
  color: red;
}

.zero {
  color: white;
}



