body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}
h1 {
    text-align: center;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #3e8e41;
}
p {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}
#resources {
    font-size: 24px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 20px;
}
.resource-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }  
#level, #cost, #perclick {
    font-weight: normal;
}